@model Categories
@{
    ViewBag.title = "Xoá loại hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="~/Category/Delete/@Model.CategoryID" method="post">
            <div class="form-group">
                <label>Tên loại hàng</label>
                <p class="form-control form-control-static">@Model.CategoryName</p>
            </div>
            <div class="form-group">
                <label>Mô tả</label>
                <p class="form-control form-control-static">@Model.Description</p>
            </div>

            <div class="form-group text-right">
                @if (!CommonDataService.InUsedCategory(@Model.CategoryID))
                {
                    <button class="btn btn-danger"><i class="fa fa-trash"></i>Xoá dữ liệu</button>
                }
                <a href="~/Category" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>
